.navpth-container{
    margin-left: 10px;
    margin-right: 10px; 
    .breadcrumb{
        margin: 24px 16px 0;
        margin-right: 30px;
        display: inline-block;
    }
    .userinfo{
        float: right;
        margin-right: 30px;
    }
    .drop-down{
        float: right;
    }
    .user{
        display: inline-block;
        margin-right: 30px;
    }
}

.ant-avatar.ant-avatar-icon{
    margin-top:17px;
    margin-right: 20px;
}